@use 'assets/styles/colours'
@use 'assets/styles/fonts'

body
    background-color: colours.$linen

.notFound
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    padding: 15%
    & h1
        font-size: 5rem
        font-weight: 600
    & p
        font-size: 2rem
        font-weight: 400
        margin-bottom: 2%
    & h1,
    & p
        color: colours.$windows-blue
        font-family: fonts.$lato
        text-align: center

@media screen and (max-width: 850px)
    .notFound
        padding: 25%
        & h1
            font-size: 3rem
        & p
            font-size: 1rem
            margin-bottom: 10%
