@use 'assets/styles/colours'
@use 'assets/styles/fonts'
@use 'assets/styles/styles'

.cart
    padding-bottom: 10%

.noItem
    color: colours.$ferrari-red
    font-family: fonts.$lato
    font-size: 1.5rem
    font-weight: 600
    display: flex
    padding-bottom: 5%
    padding-top: 15%

.cart,
.noItem
    align-items: center
    flex-direction: column
    justify-content: center
    text-align: center

@media screen and (max-width: 850px)
    .noItem
        padding-top: 25%