@use 'assets/styles/colours'
@use 'assets/styles/fonts'
@use 'assets/styles/styles'

.yourCart
    border: 0.1em solid colours.$windows-blue
    border-radius: 1rem
    color: colours.$windows-blue
    font-family: fonts.$bungee
    font-size: 1.5rem
    font-weight: 800
    margin-bottom: 5%
    padding: 2%
    text-align: center
    text-transform: uppercase
    width: 100%

.subTotalPrice
    font-size: 1rem
    font-weight: 600

.totalPrice
    font-size: 1.2rem
    font-weight: 800

.subTotalPrice,
.totalPrice
    color: colours.$tomato-sauce-red
    padding: 3%
    text-align: center