@use 'assets/styles/colours'
@use 'assets/styles/fonts'
@use 'assets/styles/styles'

.container
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin: 0 auto
    padding: 8%

.yourCart
    border: 0.1em solid colours.$windows-blue
    border-radius: 1rem
    color: colours.$windows-blue
    font-family: fonts.$bungee
    font-size: 1.5rem
    font-weight: 800
    margin-bottom: 5%
    padding: 2%
    text-align: center
    text-transform: uppercase
    width: 100%

.subTotalPrice
    font-size: 1rem
    font-weight: 600

.totalPrice
    font-size: 1.2rem
    font-weight: 800

.subTotalPrice,
.totalPrice
    color: colours.$tomato-sauce-red
    padding: 3%
    text-align: center

@media screen and (max-width: 649px)
    .container
        padding: 25%

@media screen and (min-width: 650px) and (max-width: 849px)
    .container
        padding: 12%

@media screen and (min-width: 850px) and (max-width: 1200px)
    .container
        padding: 10%