@use './colours'
@use './fonts'
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

.mt-4
    align-items: center
    flex-direction: column
    justify-content: center

.mt-6
    background-color: colours.$gainsboro
    padding: 3%

.flex
    align-items: center
    justify-content: space-around

.group
    display: flex
    flex-direction: column
    justify-content: center

.container
    align-items: center
    background-color: colours.$linen
    display: flex
    flex-direction: column
    justify-content: center
    margin: 0 auto
    padding: 8%

.card
    background-color: colours.$gainsboro
    padding: 3%

.name
    color: colours.$windows-blue
    font-size: 1rem
    font-weight: 600

.brand
    color: colours.$tomato-sauce-red
    padding: 3%
    text-align: center

.colour
    color: colours.$roman-silver

.category
    color: colours.$red-blood

.price
    color: colours.$tomato-sauce-red
    font-weight: 600
    padding: 1%
    text-transform: uppercase

.greyHeader
    color: colours.$roman-silver

.brand,
.price
    font-size: 1.5rem

.colour,
.category,
.greyHeader
    font-size: 0.8rem

.brand,
.name,
.colour,
.category
    padding: 1%
    text-transform: capitalize

@media screen and (max-width: 649px)
    .container
        padding: 25%

@media screen and (min-width: 650px) and (max-width: 849px)
    .container
        padding: 12%

@media screen and (min-width: 850px) and (max-width: 1200px)
    .container
        padding: 10%